h1 {
    color:black;
    margin-left: 550px;
    text-align: left;
    justify-content: center;
    margin-top: -260;
    font-family: 'poppins';
    align-items: center;
}

h2 {
    color:black;
    margin-left: 550px;
    text-align: left;
    font-family: 'poppins';
}

h3 {
    color:black;
    margin-left: 550px;
    text-align: left;
    font-family: 'poppins';
}

h4 {
    font-size: 20px;
    color:white;
    margin-top: -150px;
    font-family: 'poppins';
}

.keys {
    width: 20%;
    margin-left: 600px;
    align-items: left;
}

.minutes {
    color:white;
    font-size: 2em;
    padding-left: 2%;
}

.seconds {
    color:white;
    font-size: 2em;
}

body {
    background-image: url(images/background.png);
}

.kh3 {
    margin-left: 600px;
    margin-top: -580;
    align-items: center;
}

